server:
  port: ${SERVER_PORT:8080}
spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  liquibase:
    contexts: dev
app:
  jwt:
    secret: ${JWT_SECRET}
springdoc:
  swagger-ui:
    enabled: false
url:
  frontend: ${FRONTEND_URL}